<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    

    <title>Geomodeling 2020</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endwith %}

{% block body %}


      <form action="/result"  method="post" >
      <label> GR </label> : <input type=number step=0.01 name="GR" />
      <label> CAL </label> : <input type=number step=0.01 name="CAL" />
      <label> RESD </label> : <input type=number step=0.01 min=0  name="RESD" />
      <label> RESM </label> : <input type=number step=0.01 min=0  name="RESM" />
      <label> PHIN </label> : <input type=number step=0.01  name="PHIN" />
	     <input type="submit" value="Prédire" />
      </form>

       <form action="/upload"  method="get" >
         <input type="submit" value="Cliquez ici pour télécharger un fichier csv comme input" />
        </form>

{% endblock %}
   </body>
</html>
